body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
}

.image-compare-container {
    position: relative;
    width: 500px; /* Match your images' size */
    height: 300px; /* Match your images' size */
    overflow: hidden;
}

.image-compare-container img, .slider {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slider {
    width: 50%; /* Initial clip */
    overflow: hidden;
}

.slider img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.handle {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #ffffff; /* Line color */
    cursor: ew-resize;
    left: 50%; /* Initial position */
}
