body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
}

.image-compare-container {
    position: relative;
    width: 500px; /* Your images' width */
    height: 300px; /* Your images' height */
    overflow: hidden;
}

.image-compare-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider {
    position: absolute;
    top: 0;
    left: 50%;
    width: 0; /* Initially, the slider does not cover any part of the image */
    height: 100%;
    overflow: hidden;
}

.slider img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

.handle {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px; /* The width of the line */
    background: #ffffff;
    cursor: ew-resize;
    z-index: 3; /* Ensure it's above both images */
}

